
<div class="container-fluid">
    <div jm-search-widget></div>
    <div class="row">
        <div id="home-jumbo" class="home-background">
            <div class="bg-home-sub-wrapper">
                <div class="bg-color-wrapper">
                    <div class="color-left">
                        <div class="content-sub">
                            <h1>The best way to <br>  find a professional</h1>
                            <p><a ng-click="vm.createJob()" class="btn-sumary btn-sub-post box-shadow-button-dark-blue">Post a Project</a></p>
                        </div>
                    </div>
                    <div class="color-right">
                        <div class="content-sub">
                            <h1>Need a job? <br> Tell us your story</h1>
                            <p>
                                <a class="btn-sumary btn-sub-create box-shadow-button-orange" ng-click="vm.applyForJobs()">
                                    Create a Profile
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="number-project-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tabs">
                <div class="heading-project">
                    <h2 class="wpb_heading tabs_heading number-project">Looking for Available Projects?</h2>
                    <a ng-click="vm.createJob()" class="btn btn-sumary btn-post-project">
                        <i class="fa fa-plus-circle"></i>Post a Project
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div jm-top-ads-widget></div>
    
</div>
<div class="container">
    <div class="show-more-button-container col-xs-12">
        <div class="show-more" ng-click="vm.showMoreAds()">
            <p>Show More</p>
        </div>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83875384-1', 'auto');
  ga('send', 'pageview');

</script>