
<div class="container-fluid">
    <div jm-search-widget></div>
    <div class="row" id="home-jumbo">
        <div class="home-tagline col-sm-5 col-sm-offset-7">
            <h3>Thousands of Part-Time and Weekend Jobs Ready to be filled</h3>
            <p class="lead">Find Jobs, Hire Workers Quickly</p>
            <p class="">Job Mtaani helps you bridge the gap in service delivery</p>
            <button class="btn btn-default btn-outline-green" ng-click="vm.createJob()">I Want To Hire</button>
            <button class="btn btn-default btn-outline-green" ng-click="vm.applyForJobs()">I Want To Work</button>
        </div>
    </div>
</div>

<div class="container">
    <div jm-top-ads-widget></div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83875384-1', 'auto');
  ga('send', 'pageview');

</script>