
<div class="container-fluid">
    <div class="row" id="home-jumbo">
        <div class="home-tagline col-sm-5 col-sm-offset-7">
            <p class="lead">Find Jobs, Hire Workers Quickly</p>
            <p class="">Job Mtaani helps you bridge the gap in service delivery</p>
            <button class="btn btn-default btn-outline-green" ng-click="vm.createJob()">I Want To Hire</button>
            <button class="btn btn-default btn-outline-green" ng-click="vm.applyForJobs()">I Want To Work</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>What are you looking for?<small> Browse from thousands of listings</small></h1>
    </div>
</div>
