<div>
    <div ng-repeat="alert in vm.alerts" close="vm.closeAlert($index)">
        <div class="alert alert-{{alert.type}}">
            {{alert.msg}}
        </div>
    </div>
    <div>
        <div class="news-feed-items">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="newsFeedItem in vm.newsFeedItems">
                        <td>
                            <div class="news-feed-item">
                                <p>Application made to job title <b>{{newsFeedItem.AdDetails.AdTitle}}</b> based in <b>{{newsFeedItem.AdDetails.AdLocation}}</b></p>
                                <p>
                                    Status : <span ng-if="newsFeedItem.AdApplication.Status == 3">Job application is still open</span>
                                    <span ng-if="newsFeedItem.AdApplication.Status == 1">Accepted</span>
                                    <span ng-if="newsFeedItem.AdApplication.Status == 2">Your application was not succesful</span>
                                    <span ng-if="newsFeedItem.AdApplication.Status == 4">Your application was withdrawn</span>
                                </p>
                                <a ng-click="vm.viewApplication(newsFeedItem.AdApplication.AdApplicationId)">View Application</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="vm.maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
        </div>
    </div>
</div>