<div>
    <div ng-repeat="alert in vm.alerts" close="vm.closeAlert($index)">
        <div class="alert alert-{{alert.type}}">
            {{alert.msg}}
        </div>
    </div>
    <div>
        <div class="news-feed-items">
            <ul>
                <li ng-repeat="newsFeedItem in vm.newsFeedItems">
                    <div class="news-feed-item" >
                    Application made to job title <b>{{newsFeedItem.AdDetails.AdTitle}}</b> based in <b>{{newsFeedItem.AdDetails.AdLocation}}</b>
                    <p>
                        Status : <span ng-if="newsFeedItem.AdApplication.Status == 3">Job application is still open</span>
                        <span ng-if="newsFeedItem.AdApplication.Status == 1">Accepted</span>
                        <span ng-if="newsFeedItem.AdApplication.Status == 2">Your application was not succesful</span>
                    </p>
                </div>
                                </li>
            </ul>
            
        </div>
    </div>
</div>