<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
        <endpoint address="net.tcp://localhost:8009/AdService"
                  binding="netTcpBinding"
                  contract="JobMtaani.Client.Contracts.IAdService" />
        <endpoint address="net.tcp://localhost:8009/AccountService"
                  binding="netTcpBinding"
                  contract="JobMtaani.Client.Contracts.IAccountService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>