<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="app.home.HomeController as vm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div style="font-family: 'Architects Daughter', cursive;">@Html.ActionLink("Job Mtaani", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
            </ul>
            <div ng-show="vm.isLoggedIn">
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="navbar-text navbar-right btn btn-danger" style="color:white;" ng-click="vm.logOut()">Log Out</button></li>
                    <li class="dropdown">
                        <a hr class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-inline"><a href="#profile"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
                            <li class="dropdown-inline"><a href="#messages"><i class="fa fa-envelope" aria-hidden="true"></i>My Messages</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-inline"><a href="#createad"><i class="fa fa-plus" aria-hidden="true"></i>Create a Job Listing</a></li>
                            <li class="dropdown-inline"><a href="#ads"><i class="fa fa-briefcase" aria-hidden="true"></i>View Job Applications</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ng-hide="vm.isLoggedIn">
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="navbar-text navbar-right btn btn-success" ng-click="vm.login()" style="color:white;">Log In</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
