body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Home Page*/
#home-jumbo{
    height:500px;
    background-image:url("../Images/1blackwomen.jpg");
    background-size:cover;
}

.btn-outline-green {
    border: solid 1px #762b2d;
}

.home-tagline{
    margin-top: 180px;
}

.dropdown-inline{
    display: flex;
    padding-left: 20px;
}

.dropdown-inline .fa{
    height: 26px;
    line-height: 26px;
}