body {
    padding-top: 65px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.nav, .pagination, .carousel, .ad-panel, .panel-title a, a {
     cursor: pointer; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.page-title{
    border-bottom: 1px solid #949393;
}

/*Home Page*/
#home-jumbo{
    height:500px;
    background-image:url("../Images/1blackwomen.jpg");
    background-size:cover;
}

.btn-outline-green {
    border: solid 1px #762b2d;
}

.home-tagline{
    margin-top: 180px;
}

.dropdown-inline{
    display: flex;
}

.dropdown-menu > li > a {
    width: 100%;
}

.dropdown-inline .fa{
    height: 26px;
    line-height: 26px;
    padding-right: 10px;
}

.displayNone {
    display: none;
}

.top-ads-widget{
    margin-top: 10px;
}

.cleaners .caption{
    text-align: center;
    background-color: forestgreen;
    color: white;
}

.electricians .caption{
    text-align: center;
    background-color: gray;
    color: white;
}

.househelps .caption{
    text-align: center;
    background-color: dodgerblue;
    color: white;
}

.general .caption{
    text-align: center;
    background-color: brown;
    color: white;
}

.job-icon{
    font-size: 50px;
}

.ad-panel h3, .ad-panel p {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    padding-left: 20px;
}

/*Create Ad Page*/
#create-ad-button{
    text-align: center;
    border-radius: 6px;
    border: 1px solid grey;
    color: green;
    padding: 10px;
    cursor: pointer;
}

/*View Ad Details Page*/
.ad-description {
    min-height: 100px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}

.innerContent {
    padding: 10px;
}

.ad-title h2{
}

/*View Application Page*/
.accepted{
    color: darkcyan;
}

.denied{
    color: red;
}

.openApplication{
    color: dodgerblue;
}

.withdrawn{
    color: indianred;
}

/*Search Widget*/
[jm-search-widget]{
    height: 55px;
    text-align: center;
    line-height: 50px;
}

.search-box {
    width: 700px;
}


/** Loading Spinner */
.loading-spinner .modal-content {
    height: 0px;
    margin: auto;
    width: 200px;
}

 .uil-poi-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
width: 100%;
@-webkit-keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
@-webkit-keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
@-moz-keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
@-ms-keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
@-moz-keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
@-webkit-keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
@-o-keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
@keyframes uil-poi-anim0 {
  0% {
    top: 145px;
  }
  12% {
    top: 102px;
  }
  25% {
    top: 70px;
  }
  37% {
    top: 51px;
  }
  50% {
    top: 45px;
  }
  62% {
    top: 50px;
  }
  75% {
    top: 70px;
  }
  87% {
    top: 99px;
  }
  100% {
    top: 145px;
  }
}
width: 100%;
@-webkit-keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
@-webkit-keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
@-moz-keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
@-ms-keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
@-moz-keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
@-webkit-keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
@-o-keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
@keyframes uil-poi-anim1 {
  0% {
    -ms-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(0deg) translate(0, 0);
    transform: translate(0, 0) rotate(0deg) translate(0, 0);
  }
  100% {
    -ms-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -moz-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -webkit-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    -o-transform: translate(0, 0) rotate(360deg) translate(0, 0);
    transform: translate(0, 0) rotate(360deg) translate(0, 0);
  }
}
.uil-poi-css > div {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: -45px;
  border-radius: 45px;
  background: none;
  border: 30px solid #d51;
  -ms-animation: uil-poi-anim0 1s linear infinite;
  -moz-animation: uil-poi-anim0 1s linear infinite;
  -webkit-animation: uil-poi-anim0 1s linear infinite;
  -o-animation: uil-poi-anim0 1s linear infinite;
  animation: uil-poi-anim0 1s linear infinite;
}
.uil-poi-css > div:after {
  content: " ";
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #d51;
  position: absolute;
  top: 43px;
  left: -15px;
  -ms-transform: scaleX(0.66);
  -moz-transform: scaleX(0.66);
  -webkit-transform: scaleX(0.66);
  -o-transform: scaleX(0.66);
  transform: scaleX(0.66);
}