<div class="loading-container">
    <div class='uil-poi-css' style='transform:scale(0.6);'>
        <div></div>
    </div>
</div>
<div class="top-ads-widget">
    <div class="col-md-12">
        <table class="title-tab-project table table-hover">
            <thead>
                <tr>
                    <th><span>TITLE</span></th>
                    <th><span>LOCATION</span></th>
                    <th><span>POSTED DATE</span></th>
                    <th><span>BUDGET</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ad in vm.ads">
                    <td>{{ad.AdTitle}}</td>
                    <td>{{ad.AdLocation}}</td>
                    <td>{{ad.DateCreated | date:'medium'}}</td>
                    <td>{{ad.ApproximateWage}} Ksh</td>
                    <td>
                        <p class="wrapper-btn">
                            <a ng-click="vm.goToAd($index)" class="btn-sumary btn-apply-project">
                                Apply
                            </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
