<div class="loading-container">
    <div class='uil-poi-css' style='transform:scale(0.6);'>
        <div></div>
    </div>
</div>
<div class="top-ads-widget">
    <div class="col-md-12">
        <div class="col-xs-12 col-md-4 ad-holder" ng-repeat="ad in vm.ads">
            <div class="ad-panel {{ad.CategoryName}}">
                <div class="thumbnail" ng-click="vm.goToAd($index)">
                    <div class="caption">
                        <i class="fa {{ad.IconClass}}" style="font-size:50px;"></i>
                        <h3>{{ad.AdTitle}}</h3>
                        <p>{{ad.AdDescription}}</p>
                        <p>{{ad.ApproximateWage}} Ksh</p>
                        <p>Location: {{ad.AdLocation}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
