<div>
    <div ng-repeat="alert in vm.alerts" close="vm.closeAlert($index)">
        <div class="alert alert-{{alert.type}}">
            {{alert.msg}}
        </div>
    </div>
    <div class="col-lg-6">
        <a ng-href="#/myads">Back to your ads</a>
        <h1>{{vm.adDetails.AdDetails.AdTitle}}</h1>
        <p>{{vm.adDetails.AdDetails.AdDescription}}</p>
        <button class="btn btn-default" ng-click="vm.closeAd()" ng-disabled="vm.adDetails.AdDetails.AdClosed">Close Advertisement</button>
    </div>
    <div class="col-lg-6">
        <div id="ad-applicants">
            <div ng-show="vm.applicantsNotification != null" class="alert alert-info" role="alert">
                {{vm.applicantsNotification}}
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Applicants
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ad-applicant" ng-repeat="adApplicant in vm.adDetails.AdApplicantDetails">
                        <td>
                            <div>
                                <h5>{{adApplicant.FirstName}} {{adApplicant.LastName}}</h5>
                                <p>{{adApplicant.Phonenumber}}</p>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary" ng-click="vm.hire($index)" ng-disabled="vm.adDetails.AdDetails.AdClosed">Hire</button>
                        </td>
                    </tr>
                </tbody>
            </table>
           
        </div>
        <div jm-quick-links-widget></div>
    </div>
</div>