<div>{{vm.title}}</div>

<div class="container">
    <div class="row">
        <br/>
        <h1>Create New Ad</h1>
        <div class="col-md-offset-3 col-md-6">
            <br />
            <div ng-show="vm.successString != null" class="alert alert-success" role="alert">{{vm.successString}}</div>
            <div ng-show="vm.errorString != null" class="alert alert-danger" role="alert">{{vm.errorString}}</div>
            <div ng-show="vm.generalMessage != null" class="alert alert-info" role="alert">{{vm.generalMessage}}</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="adtitle" class="control-label">Title</label>
                    <input type="text"
                           id="adtitle"
                           class="form-control"
                           required
                           placeholder="Ad Title"
                           ng-model="vm.ad.AdTitle" />
                </div>
                <div class="form-group">
                    <label for="category" class="control-label">Category</label>
                    <select ng-model="vm.ad.CategoryId"
                            id="category"
                            required
                            ng-options="category.CategoryId as category.CategoryName for category in vm.categories"></select>
                </div>
                <div class="form-group">
                    <label for="addescription" class="control-label">Description</label>
                    <textarea class="form-control"
                              id="addescription"
                              placeholder="Ad Description"
                              required
                              ng-model="vm.ad.AdDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="adlocation" class="control-label">Location</label>
                    <input type="text"
                           id="adlocation"
                           class="form-control"
                           placeholder="Ad Location"
                           required
                           ng-model="vm.ad.AdLocation" />
                </div>

                <button type="submit"
                        class="btn btn-default"
                        ng-disabled="!vm.isValidForm()"
                        ng-click="vm.createAd()">
                    Create Ad
                </button>
            </form>
        </div>
        <div class="col-md-3">
            <h3>Help</h3>
            <p>Create an advertisment and expose it to thousands of users quickly by filling out the fields</p>
            <div jm-quick-links-widget></div>
        </div>
    </div>
</div>
