<div>
    <div class="col-lg-12">
        <form class="form-inline">
            <div class="form-group">
                <input ng-model="vm.jobType" type="text" class="form-control search-box" placeholder="Find Jobs" />
            </div>
                in
            <div class="form-group">
                <select ng-model="vm.jobLocation "
                        id="category"
                        required class="form-control" 
                        ng-options="location.LocationId as location.LocationName for location in vm.locations">
                    <option value="" disabled selected>Select Location</option>
                </select>
            </div>
            <button ng-click="vm.searchForJob()" class="btn btn-success" type="button">Search!</button>
        </form>
    </div>
</div>