@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please <a class="btn btn-info" ng-href="#login">Login</a>
        </p>
    </div>
</div>

